<div class="widget-wrap">
	<h3 class="widget-title">我的其他小站</h3>
	<div class="widget">
		<ul>
			<li><a href="http://pages.liuyiqi.cn/scroll-pages/" target="_blank">滚动吉他谱</a></li>
			<li><a href="http://pages.liuyiqi.cn/books-tree/" target="_blank">技术书籍可视化</a></li>
		</ul>
	</div>
</div>
