<div class="widget-wrap">
    <h3 class="widget-title">公告</h3>
    <div class="widget">
        <ul>
		<li><a href="/2016/11/20/r2-book/" target="_blank">《React 与 Redux 开发实例精解》出版了！</a></li>
	</ul>
    </div>
</div>
