<div class="widget-wrap">
    <h3 class="widget-title">公告</h3>
    <div class="widget">
        <ul>
            <li><a href="mailto:tianke.lyq@alibaba-inc.com" target="_blank">阿里巴巴招聘 p6/p7，急</a>
            </li>
            <li><a href="https://coding.imooc.com/class/354.html" target="_blank">Node.js RESTful API 视频课程上线了！</a>
            </li>
        </ul>
    </div>
</div>