<div class="widget-wrap">
  <h3 class="widget-title">系列文章</h3>
  <div class="widget">
    <ul>
      <li><a href="/tags/React/">React 与 Redux 系列教程</a></li>
      <li><a href="/tags/Angular2/">Angular2 系列教程</a></li>
      <li><a href="/tags/数据结构与算法/">JavaScript 版数据结构与算法</a></li>
      <li><a href="/tags/测试/">前端测试系列教程</a></li>
      <li><a href="/tags/practical-js/">实用的 JavaScript 系列教程</a></li>
      <li><a href="/tags/技术讲座/">技术讲座中文字幕集合</a></li> 
    </ul>
  </div>
</div>