<div class="widget-wrap">
    <h3 class="widget-title">视频课程</h3>
    <div class="widget">
        <ul>
		<li><a href="https://coding.imooc.com/class/354.html" target="_blank">《Node.js开发仿知乎服务端 深入理解RESTful API》</a></li>
	</ul>
    </div>
</div>
